.landing-page-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;

  .landing-page-wrapper {
    width: 50%;
    background-color: $card-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;

    .text {
      width: 70%;
      font-size: x-large;
    }

    // img {
    //   border-radius: 10px;
    //   width: 600px;
    //   height: 300px;
    // }
  }
}
