.create-account-container {
  .user-form {
    .new-user-form-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .new-user-form {
        border: solid 1px blue;
        width: 30vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
          width: fit;
        }
      }
    }
  }
}
